Repository KeithSantamaria/CHOGAN, pull requests merged in 2021-06, with the labels that each got.

#35 issue 30 completed
  backend/UserService/src/main/java/com/example/userservice/controller/UserController.java
  backend/UserService/src/main/java/com/example/userservice/repository/UserRepo.java
  backend/UserService/src/main/java/com/example/userservice/service/UserService.java
Labels: Authentication

#52 Issue 36 authpage get 2 panes vertical panes
  backend/UserService/build.gradle
  backend/UserService/src/main/java/com/example/userservice/model/User.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Chogan.css
  frontend/src/Chogan.tsx
  frontend/src/css/authentication/AuthPage.css
  frontend/src/css/touch.txt
  frontend/src/enzyme.js
  frontend/src/index.css
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/touch.txt
Labels: Authentication

#53 Issue 26 design auth page layout container
  frontend/package-lock.json
  frontend/package.json
  frontend/public/August_Duet.jfif
  frontend/src/Chogan.css
  frontend/src/Chogan.tsx
  frontend/src/css/authentication/AuthPage.css
  frontend/src/css/touch.txt
  frontend/src/enzyme.js
  frontend/src/index.css
  frontend/src/pages/AuthPage.tsx
  frontend/src/pages/touch.txt
Labels: Authentication, enhancement

#81 Issue 78 add login in form to auth page
  frontend/src/components/loginForm.tsx
  frontend/src/css/authentication/AuthPage.css
  frontend/src/css/authentication/login.css
  frontend/src/pages/AuthPage.tsx
Labels: Authentication

#84 Issue 42 project service create new endpoints
  backend/ProjectService/src/main/java/com/projectservice/controller/ProjectController.java
  backend/ProjectService/src/main/java/com/projectservice/models/Project.java
  backend/ProjectService/src/main/java/com/projectservice/models/UserStory.java
  backend/ProjectService/src/main/java/com/projectservice/models/Widget.java
  backend/ProjectService/src/main/java/com/projectservice/repository/ProjectRepo.java
  backend/ProjectService/src/main/java/com/projectservice/services/IProjectService.java
  backend/ProjectService/src/main/java/com/projectservice/services/ProjectService.java
  backend/ProjectService/src/test/java/com/example/projectservice/ProjectServiceApplicationTests.java
  backend/ProjectService/src/test/java/com/example/projectservice/controller/ProjectControllerTest.java
  backend/ProjectService/src/test/java/com/example/projectservice/models/EndpointTest.java
  backend/ProjectService/src/test/java/com/example/projectservice/models/ModelTest.java
  backend/ProjectService/src/test/java/com/example/projectservice/models/ProjectTest.java
  backend/ProjectService/src/test/java/com/example/projectservice/models/TagTest.java
  backend/ProjectService/src/test/java/com/example/projectservice/models/UserStoryTest.java
  backend/ProjectService/src/test/java/com/example/projectservice/services/ProjectServiceTest.java
Labels: Project, documentation

#115 Issue 80 map services to a controller
  backend/UserService/src/main/java/com/example/userservice/configuration/WebSecurityConfig.java
  backend/UserService/src/main/java/com/example/userservice/controller/UserController.java
  backend/UserService/src/test/java/com/example/userservice/UserControllerTests.java
Labels: Authentication

#125 Issue 112 user story controller service tests
  backend/ProjectService/src/main/java/com/projectservice/controller/TagController.java
  backend/ProjectService/src/main/java/com/projectservice/controller/UserStoryController.java
  backend/ProjectService/src/main/java/com/projectservice/models/Tag.java
  backend/ProjectService/src/main/java/com/projectservice/repository/UserStoryRepo.java
  backend/ProjectService/src/main/java/com/projectservice/services/IUserStoryService.java
  backend/ProjectService/src/main/java/com/projectservice/services/TagService.java
  backend/ProjectService/src/main/java/com/projectservice/services/UserStoryService.java
  backend/ProjectService/src/test/java/com/projectservice/controller/UserStoryControllerTest.java
  backend/ProjectService/src/test/java/com/projectservice/models/TagTest.java
  backend/ProjectService/src/test/java/com/projectservice/services/UserStoryServiceTest.java
Labels: Project

#129 Issue 113 widget controller service tests
  backend/ProjectService/src/main/java/com/projectservice/controller/WidgetController.java
  backend/ProjectService/src/main/java/com/projectservice/services/IWidgetService.java
  backend/ProjectService/src/main/java/com/projectservice/services/WidgetService.java
  backend/ProjectService/src/test/java/com/projectservice/controller/WidgetControllerTest.java
  backend/ProjectService/src/test/java/com/projectservice/services/WidgetServiceTest.java
Labels: Project

#132 Issue 114 wireframe controller service issues
  backend/ProjectService/src/main/java/com/projectservice/controller/WireframeController.java
  backend/ProjectService/src/main/java/com/projectservice/repository/WireframeRepo.java
  backend/ProjectService/src/main/java/com/projectservice/services/IWireframeService.java
  backend/ProjectService/src/main/java/com/projectservice/services/WireframeService.java
  backend/ProjectService/src/test/java/com/projectservice/controller/WireframeControllerTest.java
  backend/ProjectService/src/test/java/com/projectservice/services/WireframeServiceTest.java
Labels: Project
